.post-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.blog-post-content .content-left{
    margin-top: -50px;
    margin-bottom: -50px;
    padding: 50px;
    top: 50%;
}
.blog-post-content .content-left h1{
    text-align: center;
}   
.row{
    display: flex;
}
.more-post{
    flex-direction: column;
    align-items: center;
}
.blogpost-meta{
    display: flex;
    justify-content: space-between;
}
.author-info{
    margin: 12px 0;
}
.author-info div{
    padding: 4px 0px;
    font-family: var(--font2);
}
.social{
    padding-right: 53px;
    align-self: center;
    cursor: pointer;
}