.content-C{
    height: 395px;
    height: 60vh;
    overflow: hidden;
}
.content-C::after{
    content: "";
    background-image: url(../ima/461_generated.jpg);
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    z-index: -1;
}
.contact-form {
  display: flex;
  flex-direction: column;   /* ek ke niche ek */
  align-items: center;      /* center alignment */
  gap: 15px;                /* spacing between boxes */
  max-width: 400px;         /* optional width limit */
  margin: auto;             /* center horizontally */
}

.form-box input {
  width: 52vw;              /* full width inside form */
  padding: 10px 6px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin: 7px;
}

