@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    --main-bg-color: rgb(18, 119, 191);
    --font1: "Google Sans", sans-serif;
    --font2: "Oswald", sans-serif;
}
.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.max-width-1{
    max-width: 80vw;
}
.max-width1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.my-2{
    margin-top: 32px;
    margin-bottom: 32px;;
}
.btn{
    padding: 6px 15px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    color: white;
    background-color: var(--main-bg-color);
}
.form-input{
    padding: 5px 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}
 .form-box input, textarea{
  width: 52vw;             
  padding: 10px 6px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin: 7px;
}
.center{
    text-align: center;
}